---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Microsoft
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
Standard: c++20
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
# BreakConstructorInitializers: AfterColon
AllowAllConstructorInitializersOnNextLine: false
AllowAllArgumentsOnNextLine: false
# ConstructorInitializerAllOnOneLineOrOnePerLine: false


BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true