CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
**/*_include.cmake
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
coverage.xml

external/chibi-scheme-prefix

.cache

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/target

# Emacs
*~
.#*

# Document Artifacts
*.tex
*.lof
*.lot
*.png
*.pdf
*.html
*.css
*.aux
*.log
*.toc
**/ltximg
analysis/cppcheck/**
analysis/scan-build/**
